<% include ../../widgets/layout/layoutTop.ejs%>

	<% include ../../widgets/header/header.ejs%>
	<div class="api-container">
		<div class="api-history">
			<% include ../../widgets/history/history.ejs%>
		</div>
		<div class="api-form">
			<% include ../../widgets/api/api.ejs %>
		</div>
	</div>
<% include ../../widgets/layout/layoutBottom.ejs%>