<% include ../../widgets/layout/layoutTop.ejs%>

<!-- 	<% include ../../widgets/header/header.ejs%> -->
	<div class="proxy">
		<div class="proxy-header">Rule</div>
		<div class=="proxy-wrap">
			<ul class="rule-list">
				<li class="rule-item">
					<% include ../../widgets/rule/rule.ejs%>
				</li>
			</ul>
			<button class="btn add-rule">+</button>
		</div>
	</div>
<% include ../../widgets/layout/layoutBottom.ejs%>