<div class="rule form-group">
	<span class="rule-from">
    	<label>From:</label>
    	<input class="form-control" type="text" placeholder="source">
	</span>
	<span class="rule-to">
    	<label>To:</label>
    	<input class="form-control" type="text" placeholder="dis...">
	</span>

	<span class="rule-operation">
		<button class="btn rule-active">激活</button>
		<button class="btn rule-forbiden">禁用</button>
		<button class="btn rule-delete">删除</button>
	</span>
</div>
